<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096102429615-4264g69609ij2l6o4i944dcukrrhlvth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096102429615-4264g69609ij2l6o4i944dcukrrhlvth</string>
	<key>API_KEY</key>
	<string>AIzaSyBB9JNv8gQKG3e6NoFHlGKGSBmsmnyC0-0</string>
	<key>GCM_SENDER_ID</key>
	<string>1096102429615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.epam.together</string>
	<key>PROJECT_ID</key>
	<string>together-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>together-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096102429615:ios:e823548093fca9782c255a</string>
</dict>
</plist>